<div class='kenceHistory'>
  <p>▽<strong>2017年</strong></p>
  <ul>
    <li>3月 ロードバイク購入</li>
    <li>8月 ママチャリ大冒険（太平洋⇔福井）3泊 400km</li>
    <li>9月 淡路島,関西,信州ツアー 16泊 1700km</li>
    <li>11月 自走ビワイチ 390km </li>
  </ul>
  <p>▽<strong>2018年</strong></p>
  <ul>
    <li>4月 第6回天狗坂上がり 優勝</li>
    <li>5月 干からびラン（直江津⇒浜松）450km 9000up 30h6m 優勝</li>
    <li>8月 紀伊半島一周ツアー 4泊 550km</li>
  </ul>
  <p><strong>▽2019年</strong></p>
  <ul>
    <li><a href="https://www.kencellara.com/entry/2019/04/28/010005">3月 富士スプリングエンデューロ 6時間 カテゴリー2位 総合2位</a></li>
    <li><a href="https://www.kencellara.com/entry/tengu-saka">5月 第7回天狗坂上がり 歴代レコード記録樹立 優勝</a></li>
    <li><a href="https://www.kencellara.com/entry/2019/06/10/134537">6月 LIXIL IRONMAN RACE</a></li>
  </ul>
  <p>▽<strong>2020年</strong></p>
  <ul>
    <li><a href="https://www.kencellara.com/entry/etizen-day1">8月 越前ツアー 3泊 600km</a></li>
    <li><a href="https://www.kencellara.com/entry/obama">8月 軍艦を求めて日本海へ（伊勢⇔舞鶴）2泊 450㎞</a></li>
    <li>9月 南へ（山陰⇒九州⇒四国⇒しまなみ海道⇒山陽⇒四国⇒紀伊）9泊 1950km</li>
    <li><a href="https://www.kencellara.com/entry/2020-ecopa">11月 ツールド・エコパ 2時間エンデューロ ソロ 逃げ切り優勝</a></li>
    <li><a href="https://www.kencellara.com/entry/2020-mie-bike">11月 三重県往復縦断 440km</a></li>
    <li><a href="https://www.kencellara.com/entry/2020-moricoro">11月 ツールド・モリコロパーク キングオブエンデューロ 3位</a></li>
    <li><a href="https://www.kencellara.com/entry/2020-little">12月 リトルワールドサイクルミーティング エキスパート 完走</a></li>
    <li><a href="https://www.kencellara.com/entry/2020-harima">12月 播磨中央公園サイクルエンデューロ 総合優勝</a></li>
  </ul>
  <p><strong>▽その他</strong></p>
  <ul>
    <li>ストラバKOM 123個所有</li>
    <li>ヒッチハイク東日本一周 18泊</li>
    <li>無人島サバイバル 3泊</li>
    <li>ヒッチハイク（三重⇔東京）4泊</li>
    <li>南紀サバイバル生活 5泊</li>
  </ul>
</div>
