<p><span style="font-size: 80%;">▽<strong>2017年</strong></span></p>
<ul>
<li><span style="font-size: 80%;">3月 ロードバイク購入</span></li>
<li><span style="font-size: 80%;">8月 ママチャリ大冒険（太平洋⇔福井）3泊 400km</span></li>
<li><span style="font-size: 80%;">9月 淡路島,関西,信州ツアー 16泊 1700km</span></li>
<li><span style="font-size: 80%;">11月 自走ビワイチ 390km </span></li>
</ul>
<p><span style="font-size: 80%;">▽<strong>2018年</strong></span></p>
<ul>
<li><span style="font-size: 80%;">4月 第6回天狗坂上がり 優勝</span></li>
<li><span style="font-size: 80%;">5月 干からびラン（直江津⇒浜松）450km 9000up 30h6m 優勝</span></li>
<li><span style="font-size: 80%;">8月 紀伊半島一周ツアー 4泊 550km</span></li>
</ul>
<p><span style="font-size: 80%;"><strong>▽2019年</strong></span></p>
<ul>
<li><span style="font-size: 80%;"><a href="https://www.kencellara.com/entry/2019/04/28/010005">3月 富士スプリングエンデューロ 6時間 カテゴリー2位 総合2位</a></span></li>
<li><span style="font-size: 80%;"><a href="https://www.kencellara.com/entry/tengu-saka">5月 第7回天狗坂上がり 歴代レコード記録樹立 優勝</a></span></li>
<li><span style="font-size: 80%;"><a href="https://www.kencellara.com/entry/2019/06/10/134537">6月 LIXIL IRONMAN RACE</a></span></li>
</ul>
<p><span style="font-size: 80%;">▽<strong>2020年</strong></span></p>
<ul>
<li><span style="font-size: 80%;"><a href="https://www.kencellara.com/entry/etizen-day1">8月 越前ツアー 3泊 600km</a></span></li>
<li><span style="font-size: 80%;"><a href="https://www.kencellara.com/entry/obama">8月 軍艦を求めて日本海へ（伊勢⇔舞鶴）2泊 450㎞</a></span></li>
<li><span style="font-size: 80%;">9月 南へ（山陰⇒九州⇒四国⇒しまなみ海道⇒山陽⇒四国⇒紀伊）9泊 1950km</span></li>
<li><span style="font-size: 80%;"><a href="https://www.kencellara.com/entry/2020-ecopa">11月 ツールド・エコパ 2時間エンデューロ ソロ 逃げ切り優勝</a></span></li>
<li><span style="font-size: 80%;"><a href="https://www.kencellara.com/entry/2020-mie-bike">11月 三重県往復縦断 440km</a></span></li>
<li><span style="font-size: 80%;"><a href="https://www.kencellara.com/entry/2020-moricoro">11月 ツールド・モリコロパーク キングオブエンデューロ 3位</a></span></li>
<li><span style="font-size: 80%;"><a href="https://www.kencellara.com/entry/2020-little">12月 リトルワールドサイクルミーティング エキスパート 完走</a></span></li>
<li><span style="font-size: 80%;"><a href="https://www.kencellara.com/entry/2020-harima">12月 播磨中央公園サイクルエンデューロ 総合優勝</a></span></li>
</ul>
<p><span style="font-size: 80%;"><strong>▽その他</strong></span></p>
<ul>
<li><span style="font-size: 80%;">ストラバKOM 123個所有</span></li>
<li><span style="font-size: 80%;">ヒッチハイク東日本一周 18泊</span></li>
<li><span style="font-size: 80%;">無人島サバイバル 3泊</span></li>
<li><span style="font-size: 80%;">ヒッチハイク（三重⇔東京）4泊</span></li>
<li><span style="font-size: 80%;">南紀サバイバル生活 5泊</span></li>
</ul>
