*.zip
*.log
*.ftpconfig
*sample.html
/Qiita/
/Scrape/.scrapy/httpcache/
/Scrape/images/
/Scrape/images_old/
/Assets/logo/
/Assets/font-awesome/
/Img/
/Document/
/public_html/wp-content/uploads/
/Style/
/Export/
/Assets/
/Article/
/Partial/
/Scrape/
/Source/
/StaticPage/
