/* <system section="theme" selected="8599973812333959601"> */
@import url("https://blog.hatena.ne.jp/-/theme/8599973812333959601.css");
/* </system> */

article em {
  font-weight: bold;
  font-style: normal;
  margin: 0 0.1em;
  padding: 0.1em 0.2em;
  background: linear-gradient(to bottom, transparent 60%, #ffd700 60%) !important;
}
article i {
  font-style: oblique !important;
}


/* 記事内関連記事カスタム*/
.entry-content .emphasize-link {
  position: relative;
  margin: 36px 0 16px;
  padding: 18px 10px 16px;
  border-top: 3px ridge black;
  border-bottom: 3px ridge black;
  background-color: floralwhite;
}
.entry-content .emphasize-link p:last-child {
  margin-bottom: 0;
}
.entry-content .emphasize-link::before {
  position: absolute;
  top: -12px;
  left: calc(50% - 48px);
  padding: 0 10px 0 26px;
  content: "関連記事";
  background-color: black;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.entry-content .emphasize-link::after {
  position: absolute;
  top: -16px;
  left: calc(50% - 54px);
  width: 28px;
  height: 28px;
  background-color: black;
  border-radius: 14px;
  line-height: 25px;
  text-align: center;
  content: "\f010";
  font-size: 18px;
  font-family: "blogicon";
  color: #fff;
}




/*関連記事カスタム*/
li.urllist-item.related-entries-item {
  border-bottom: solid 2px #ececec;
  margin: 0;
  padding: 10px 0;
}

/*関連記事の画像まわり余白調整*/
.urllist-with-thumbnails li .urllist-image {
  margin: 0 10px 0 0;
}

/*関連記事のタイトル*/
a.urllist-title-link.related-entries-title-link.urllist-title.related-entries-title {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 100%;
}

/*関連記事のタイトル*/
a.urllist-title-link.related-entries-title-link.urllist-title.related-entries-title:hover {
  color: silver;
}

/*最新記事のタイトル*/
a.urllist-title-link.recent-entries-title-link.urllist-title.recent-entries-title {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 100%;
}



/*=== トップページオススメ記事 ===*/
.article-area {
  background-color: antiquewhite;
}
.article-container {
  width: 90%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}
.article-box {
  box-sizing: border-box;
  border: 3px outset silver;/*画像の枠色*/
  width: 25%;
  padding: 0px;
  margin: 30px 15px;/*画像周りの空白*/
  overflow: hidden;
}
.article-img {
  height: 100%;
}
.article-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition-duration: 0.5s;/*ゆっくり戻る*/
}
.article-img:hover img {/*マウスオーバーで拡大表示*/
  transform: scale(1.1);/*1.1倍に表示*/
  transition-duration: 0.5s;/*ゆっくり拡大*/
}

.page-entry .article-area,
.page-entry .article-container,
.page-static_page .article-area,
.page-static_page .article-container,
.page-archive-category .article-area,
.page-archive-category .article-container
{
  display: none;/*記事ページなどには表示しない*/
}
.page-entry .article-area { display: none; }
/*=== end of article window ===*/

/*=== トップページ 地域別グルメ カテゴリー別 ===*/
.article-area-1 {
  background-color: white;/*背景色*/
}
.article-container-1 {
  width: 90%;/*画像表示の幅*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}
.article-container-1.first {
  padding-top: 20px;
}
.article-container-1.last {
  padding-bottom: 20px;
}
.article-box-1 {
  max-width: 150px;
  max-height: 150px;
  margin: 10px auto;/*画像周りの空白*/
  box-sizing: border-box;
  border: 0px solid #444;/*画像の枠色*/
  width: 25%;
  padding: 0px;
  overflow: hidden;
  background-color: antiquewhite;
  border-radius: 120px;
}
.article-img-1 img {
  width: 100%;
  display: block;
  object-fit: cover;
  transition-duration: 0.5s;/*ゆっくり戻る*/
}
.article-img-1:hover{/*触れた時*/
  opacity: 0.5;
}
.article-img-1:hover img {/*マウスオーバーで拡大表示*/
  transform: scale(1.5);/*1.1倍に表示*/
  transition-duration: 0.5s;/*ゆっくり拡大*/
}
.page-entry .article-area-1,
.page-entry .article-container-1,
.page-static_page .article-area-1,
.page-static_page .article-container-1,
.page-archive-category .article-area-1,
.page-archive-category .article-container-1
{
  display: none;/*記事ページなどには表示しない*/
}

/* 記事内強調するための囲い枠*/
.box7 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #4682b4;/*左線*/
  border-right: double 7px #4682b4;/*右線*/
}
.box7 p {
  margin: 0;
  padding: 0;
}
.box7 ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}


/* 記事内「ケンチェのコメント」CSS*/
.entry-content .emphasize-link-2 {
  position: relative;
  margin: 36px 0 16px;
  padding: 16px 10px;
  margin-bottom: 0em;
  padding-bottom: 0em;
  border: 3px solid #4682b4;
  background-color: #fffbf5;
}
.entry-content .emphasize-link-2 p:last-child {
  margin-bottom: 0;
}
.entry-content .emphasize-link-2::before {
  position: absolute;
  top: -12px;
  left: 10px;
  padding: 0 10px 0 26px;
  content: "ケンチェの一言";
  background-color: #4682b4;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.entry-content .emphasize-link-2::after {
  position: absolute;
  top: -16px;
  left: 4px;
  width: 28px;
  height: 28px;
  background-color: #4682b4;
  border-radius: 14px;
  line-height: 25px;
  text-align: center;
  content: "\f010";
  font-size: 18px;
  font-family: "blogicon";
  color: #fff;
}
.entry-content .emphasize-link-2 p{
  margin: 0 0 0 0em;
}

/* 記事内「この記事で分かること」CSS*/
.entry-content .emphasize-link-1 {
  position: relative;
  margin: 36px 0 16px;
  padding: 16px 10px;
  margin-bottom: 0em;
  padding-bottom: 0em;
  border: 3px solid #4682b4;
  background-color: #fffbf5;
}
.entry-content .emphasize-link-1 p:last-child {
  margin-bottom: 0;
}
.entry-content .emphasize-link-1::before {
  position: absolute;
  top: -12px;
  left: 10px;
  padding: 0 10px 0 26px;
  content: "この記事の内容";
  background-color: #4682b4;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.entry-content .emphasize-link-1::after {
  position: absolute;
  top: -16px;
  left: 4px;
  width: 28px;
  height: 28px;
  background-color: #4682b4;
  border-radius: 14px;
  line-height: 25px;
  text-align: center;
  content: "\f010";
  font-size: 18px;
  font-family: "blogicon";
  color: #fff;
}

/* リスト共通のstyle */
/* すべてのリストに共通するCSSを書く */
.list {
  border: solid 3px #4682b4;
  padding: 0.5em;
  position: relative;
  margin-top: 2em;
}
.list ul {
  margin: 0 0 0 1.5em;
}
.list li {
  line-height: 1.5;
  padding: 0.5em 0 0.5em 1.4em;
  border-bottom: dashed 1px silver;
  list-style-type: none!important;
}
.list li:last-of-type {
  border-bottom: none;
}
.list li:before {
  /*リスト内のアイコン*/
  font-family: "FontAwesome";
  content: "\f138";/*アイコン種類*/
  position: absolute;
  left : 0.5em; /*左端からのアイコンまで*/
  color: #4682b4; /*アイコン色*/
}
.list li:after {
  /*タイトルタブ*/
  background: #4682b4;
  color: #fff;
  font-weight: bold;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  /* contentは個別のCSSで書く */
  letter-spacing: 0.05em;/*字間*/
}
.list11 li:after {
  content: "具体例";
}
.list10 li:after {
  content: "戦歴";
}
.list03 li:after {
  content: "メニュー";
}
.list02 li:after {
  content: "まとめ";
}
.list05 li:after {
  content: "member";
}

/*具体例 箇条書きz*/
/*レガシー これからは.listに共通スタイルを書く*/
.list11,
.list10,
.list03,
.list02,
.list05 {
  border: solid 3px #4682b4;
  padding: 0.5em;
  position: relative;
  margin-top: 2em;
}
.list11 ul,
.list10 ul,
.list03 ul,
.list02 ul,
.list05 ul {
  margin: 0 0 0 1.5em;
}
.list11 li,
.list10 li,
.list03 li,
.list02 li,
.list05 li {
  line-height: 1.5;
  padding: 0.5em 0 0.5em 1.4em;
  border-bottom: dashed 1px silver;
  list-style-type: none!important;
}
.list11 li:last-of-type,
.list10 li:last-of-type,
.list03 li:last-of-type,
.list02 li:last-of-type,
.list05 li:last-of-type {
  border-bottom: none;
}
.list11 li:before,
.list10 li:before,
.list03 li:before,
.list02 li:before,
.list05 li:before {
  /*リスト内のアイコン*/
  font-family: "FontAwesome";
  content: "\f138";/*アイコン種類*/
  position: absolute;
  left : 0.5em; /*左端からのアイコンまで*/
  color: #4682b4; /*アイコン色*/
}
.list11 li:after,
.list10 li:after,
.list03 li:after,
.list02 li:after,
.list05 li:after {
  /*タイトルタブ*/
  background: #4682b4;
  color: #fff;
  font-weight: bold;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  letter-spacing: 0.05em;/*字間*/
}

/*黒線枠組みカスタム*/
.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: solid 1px #000000;
}
.box1 p {
  margin: 0;
  padding: 0;
}
.memobox {
  margin: 1em 0;
  background-color: #fff9c4;
  padding: 1em;
}
.memobox-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffc107;
}
.memobox-title:before {
  font-family: FontAwesome;
  content: "\f303";
  font-size: 17px;
}
.memobox p {
  margin: 0;
  padding: 0;
}


/* 目次カスタム */
.entry-content .table-of-contents {
  border-top: 3px solid #4682b4; /* 目次枠線太さと色*/
  border-left: 3px solid #4682b4;
  border-right: 3px solid #4682b4;
  border-bottom: 3px solid #4682b4;
  background: #f6f6f6; /* 目次内背景色 */
  border-radius: 15px; /* 角を丸くする */
}
.entry-content .table-of-contents::before {
  display: block;
  content: ”- Contents -“;/* 目次のタイトル文字 */
  font-size: 18px;/* 文字サイズ */
  color: #4682b4;/* 文字の色 */
  font-weight: bold; /* 太字 */
  text-align: center; /* 中央寄せ */
  border-bottom: 2px dashed #4682b4; /* 目次内境界線の太さと色・点線 */
}
.entry-content .table-of-contents li{
  list-style-type: disc; /* 大見出し：黒丸 */
  font-weight: bold; /* 太字 */
}
.entry-content .table-of-contents li ul li{
  list-style-type: circle; /* 中見出し：白丸 */
  font-weight: normal; /* 文字標準 */
}
.entry-content .table-of-contents li ul li ul li{
  list-style-type: square; /* 小見出し：黒四角 */
  font-weight: normal; /* 文字標準 */
}

/* 続きを読むボタン */
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_box {
	position: relative;
}
.cp_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 140px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.cp_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.cp_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '\f13a'' 続きをよむ';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.cp_box input {
	display: none;
}
.cp_box .cp_container {
	overflow: hidden;
	height: 250px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.cp_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.cp_box input:checked + label:after {
	font-family: FontAwesome;
	content: '\f139'' 閉じる';
}
.cp_box input:checked ~ .cp_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}


/* 前のページ 後のページデザイン */
.pager {
  position: relative;
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pager a:hover {
  color: inherit;
}
.pager.autopagerize_insert_before .pager-prev {
  width: 160px;
  border: 2px outset silver;
  border-radius: 3px;
}
.pager-prev:hover,
.pager-next:hover {
  opacity: 0.5;
}
.pager.autopagerize_insert_before .pager-prev a {
  padding: 1em 2em;
  font-weight: bold;
  width: 100%;
}
.pager.autopagerize_insert_before .pager-prev:before {
  padding-top: 1em;
  font-weight: bold;
  content: "<<";
  font-weight: 900;
  position: absolute;
  left: .5em;
}
.pager.autopagerize_insert_before .pager-next {
  width: 160px;
  border: 2px outset silver;
  margin-left: auto;
  border-radius: 3px;
}
.pager.autopagerize_insert_before .pager-next a {
  padding: 1em 2em;
  font-weight: bold;
  width: 100%;
}
.pager.autopagerize_insert_before .pager-next:after {
  padding-top: 1em;
  font-weight: bold;
  content: ">>";
  font-weight: 900;
  position: absolute;
  right: .5em;
}
.pager.pager-permalink .pager-prev {
  margin-right: .25em;
  padding: .5em;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.pager.pager-permalink .pager-next {
  margin-left: auto;
  padding: .5em;
  border: 1px solid #ddd;
  border-radius: 3px;
}


/* 記事の概要 */
.page-index .entry-description{
  display : none;
}

/* はてなスター */
.star-container {
  display : none;
}

/* リストの先頭マーク */
.entry-content .table-of-contents li {
  list-style-type:disc; /* 大見出し：黒丸 */
  font-weight: bold; /* 太字 */
}
.entry-content .table-of-contents li ul li {
  font-weight: normal; /* 文字標準 */
}
.entry-content .table-of-contents li ul li ul li {
  font-weight: normal; /* 文字標準 */
}
ul.table-of-contents a {
  text-decoration: none; /* リンク下線なし */
}

/*太字にする*/
/* strong { font-weight: bold; } */


/*スマホページトップボタン設置*/
/* To Top */
.toTop-nav {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: -webkit-flex;
  display: flex;
  padding: 0;
  margin: 0;
  z-index: 999;
}
.toTop-nav li {
  list-style-type: none;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  text-align: center;
}
.toTop-nav li:first-child {
  margin-right: 10px;
}
.toTop-nav li a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
}
.toTop-nav li a {
  color: #fff;
  text-decoration: none;
}
.toTop-nav li a:visited {
  color: #fff;
}
.toTop-nav li a:hover {
  color: #fff;
  text-decoration: underline;
}
.toTop-nav li a:active, .toTop-nav li a:focus {
  color: #fff;
}
.toTop-nav li a:hover {
  text-decoration: none;
}


/*フッターデザインCSS*/
/* コピーライト */
#bottom-editarea {
  width: 100%;
  margin: 0 auto;
  background: #444444;
  padding: 0;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#footer {
  text-align: center;
  color: #fff;
  background: #444444;
  width: 100%;
  margin: 0;
  padding: 2em 40px 1em 40px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  font-size: 80%;
}
#blog-title-content a {
  font-size: 00px;
  font-weight: 100;
  color: #fff;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links ul li {
  display: inline-block;
  padding: 0 6px;
  font-size: 14.5px;
  box-sizing: border-box;
}
.footer-links ul li a{
  color: #ffffff;
}
.copyright {
  font-size: 10px;
}
/*自分で設定したフッターとページ下の余白を消す*/
#container {
  margin-bottom: 0;
}


/* カテゴリをタグっぽく表示 */
.hatena-module-category .hatena-urllist li {
  display: inline-block;
  width: auto;
  margin-bottom: 10px;
  padding: 5px 2px;
  border: none;
  background-color: #ededed; /*タグの背景色(お好きな色に)*/
}
.hatena-module-category .hatena-urllist li a {
  display: inline;
}
.hatena-module-category a::before {
  font-family: blogicon;
  content: "\f04a";
}


/*吹き出し設置*/
/* 吹き出しのCSS　*/
.entry-content .l-fuki,
.entry-content .r-fuki {
  position: relative;
  width: calc(100% - 82px);
  /* box-sizing: border-box;
  -webkit-box-sizing: border-box; */
  padding: 20px;
  border-radius: 6px;
  border: 2px solid #ddd;
  box-shadow: 0 3px 8px -2px rgba(0,0,0,.16);
  background-color: #EEEEEE;
  z-index: 1;
  box-sizing: border-box;
}
.entry-content .l-fuki {
  margin: 20px auto 36px 0;
}
.entry-content .r-fuki {
  margin: 20px 0 36px auto;
}
.entry-content .l-fuki::before,
.entry-content .r-fuki::before {
  position: absolute;
  content: "";
  top: 16px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
  z-index: 2;
}
.entry-content .l-fuki::before {
  right: -7px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.entry-content .r-fuki::before {
  left: -7px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.entry-content .l-fuki::after,
.entry-content .r-fuki::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: -6px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 5px #aaa;
  box-sizing: border-box;
}
.entry-content .l-fuki::after {
  right: -82px;
}
.entry-content .r-fuki::after {
  left: -82px;
}
@media screen and (min-width: 478px) {
  .entry-content .l-fuki::after,
  .entry-content .r-fuki::after {
    width: 80px;
    height: 80px;
  }
  .entry-content .l-fuki,
  .entry-content .r-fuki {
    width: calc(100% - 106px);
  }
  .entry-content .l-fuki::after {
    right: -106px;
  }
  .entry-content .r-fuki::after {
    left: -106px;
  }
}
.kensuke01::after {
  background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/k/ken_chan_bike/20200818/20200818112652.jpg);
}
.kensuke02::after {
  background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/k/ken_chan_bike/20200826/20200826072843.png);
}


/*カテゴリー色変更*/
.categories a,
.page-archive .categories a {
  background: #C2EEFF; /*背景色*/
  color: #000000; /*文字色*/
  border-radius: 0.2em; /*角丸*/
}


/*  ウィジェットタイトル */
.drawer-title {
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #555;
	/* ドロワーメニュー内タイトルライン背景色 */
	color: #fff;
}

/* フォローボタン */
.follow-buttons {
	text-align: center;
	margin-top: 0;
	width: 100%;
}
.follow-buttons a {
	display: inline-block;
	width: 60px;
	text-align: center;
	text-decoration: none;
	margin: 5px;
}
.follow-buttons .inner-text {
	font-size: 10px;
	display: block;
}
.follow-buttons .lg,
.content-inner-follow-buttons .fa {
	padding: 15px;
	border-radius: 5px;
	margin: 2px auto;
}
.follow-buttons .hatena {
	color: #38393C;
	background-color: transparent;
}
.follow-buttons .blogicon-hatenablog {
	background: #38393C;
	color: #ffffff;
}
.follow-buttons .blogicon-hatenablog:hover {
	background: #5F6063;
}
.follow-buttons .facebook {
	color: #305097;
	background-color: transparent;
}
.follow-buttons .blogicon-facebook {
	background: #305097;
	color: #ffffff;
}
.follow-buttons .blogicon-facebook:hover {
	background: #5A77B7;
}
.follow-buttons .twitter {
	color: #55acee;
	background-color: transparent;
}
.follow-buttons .blogicon-twitter {
	background: #55acee;
	color: #ffffff;
}
.follow-buttons .blogicon-twitter:hover {
	background: #89C7F7;
}
.follow-buttons .instagram {
	color: #D93177;
	background-color: transparent;
}
.follow-buttons .blogicon-instagram {
	background: #D93177;
	color: #ffffff;
}
.follow-buttons .blogicon-instagram:hover {
	background: #df528d;
}
.follow-buttons .feedly {
	color: #6cc655;
	background-color: transparent;
}
.follow-buttons .blogicon-rss {
	background: #6cc655;
	color: #ffffff;
}
.pc-hidden .profile-icon {
	float: none;
}


.nav > ul {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}
.nav > ul > li {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: 40px;
  line-height: 40px;
  background: linear-gradient(#008080, #3cb371, #008080);
  border-left: 1px solid white;
  color: black;
  float: left;
  list-style-type: none;
  text-align: center;
  position: relative;
  transition: box-shadow .3s ease-in-out;
}
.nav > ul > li:first-child() {
  border-left: 0;
}
.nav > ul > li:hover {
  box-shadow: 0 0 50px 25px #1a1a1a inset;
}
.nav > ul > li > a {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/*記事内見出しカスタム*/
.entry-content h3 {
  padding: 6px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: black;
  line-height: 1.5;
}
h4 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: black;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #4682b4;/*左線*/
}
.entry-content h5 {
  position: relative;
  padding-bottom: 10px;
  color: #333;
  line-height: 1.5;
  text-align: center;
}
.entry-content h5:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 40px;
  background-color: #333;
}
.entry-content h5:first-letter {
  font-size: 1.6em;
  letter-spacing: .04em;
}

/*題名フォントサイズ変更*/
#title {
 font-family: "Sawarabi Gothic";/*フォントを指定*/
 font-size: 35px;/*フォンサイズ指定*/
 letter-spacing: 15px;/*フォント間隔指定*/
}

/*記事タイトル変更*/
.entry-title {
  font-weight: bold;
  font-size: 10px;
  padding: .5em .75em;
  background: #f4f4f4;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  box-shadow: 0 7px 10px -5px rgba(0, 0, 0, .1) inset;
}


/*カテゴリ作成*/


/* サイドバー最新記事CSS */
.ribbon-container {
	position: relative;
}
.ribbon {
	position: absolute;
	text-align: center;
	background: #32cd32;
	text-shadow: 0 1px 2px #C3781D;
	color: #fff !important;
	top: 3px;/* リボンの位置調整して下さい */
	left: 0;
	font-size: 9px;
	padding: 2px 3px;
	box-sizing: border-box;
}
.urllist-image-link img {
	width: 100px;
	float: left;
	margin-right: 10px;
}
li.urllist-item::after {
  content: "";
  display: block;
  clear: both;
}


/* サイドバー題名 直線重ねる */
.hatena-module-title {
  color: #555;
  font-size: 120%;/* 文字サイズ */
  position: relative;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  padding: 0;
  margin-bottom:15px;
  align-items: center;
}
.hatena-module-title::before,
.hatena-module-title::after {
  content: '';
  flex-grow: 1;
  background-color:#555;
  height: 1px;
}
.hatena-module-title::before {
   margin-right: .5em;
}
.hatena-module-title::after {
   margin-left:.5em;
}



/*=================================================================================
カエレバ・ヨメレバ・トマレバ (WING)Affinger5用カスタマイズ（光る＆押した感じ）
=================================================================================*/
.cstmreba {
  width: 98%;
  height: auto;
  margin: 36px auto;
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Helvetica, Meiryo, sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  box-sizing: border-box;
  display: block;
}
.cstmreba a {
  transition: 0.3s;
  /* テキストリンクカラー */
  color: #285EFF;
}
.cstmreba a:hover {
  /* テキストリンクカラー(マウスオーバー時) */
  color: #ff1744;
}
/*全体のボックス設定 */
.cstmreba .booklink-box,
.cstmreba .kaerebalink-box,
.cstmreba .tomarebalink-box {
  width: 100%;
  /* 全体の背景カラー */
  background-color: white;
  overflow: hidden;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 12px 8px;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,.26);
}
/* サムネイル画像 */
.cstmreba .booklink-image,
.cstmreba .kaerebalink-image,
.cstmreba .tomarebalink-image {
  width: 150px;
  float: left;
  margin: 0 14px 0 0;
  text-align: center;
  /* サムネイル背景カラー */
  background: white;
}
.cstmreba .booklink-image a,
.cstmreba .kaerebalink-image a,
.cstmreba .tomarebalink-image a {
  width: 100%;
  display: block;
}
.cstmreba .booklink-image a img,
.cstmreba .kaerebalink-image a img,
.cstmreba .tomarebalink-image a img {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #F1F8E9;
}
.cstmreba .booklink-image a:hover,
.cstmreba .kaerebalink-image a:hover,
.cstmreba .tomarebalink-image a:hover {
  opacity: 0.7;
}
/* 著者・住所情報配置 */
.cstmreba .booklink-info,
.cstmreba .kaerebalink-info,
.cstmreba .tomarebalink-info {
  overflow: hidden;
  line-height: 170%;
  color: #333;
}
/* infoボックス内リンク下線非表示 */
.cstmreba .booklink-info a,
.cstmreba .kaerebalink-info a,
.cstmreba .tomarebalink-info a {
  text-decoration: none;
}
/* 本・商品・ホテル名 リンク */
.cstmreba .booklink-name>a,
.cstmreba .kaerebalink-name>a,
.cstmreba .tomarebalink-name>a {
  border-bottom: 1px solid;
  font-size: 16px;
  font-weight: bold;
}
/* タイトル下の余白最小 */
.cstmreba .kaerebalink-name p,
.cstmreba .booklink-name p,
.cstmreba .tomarebalink-name p {
  margin: 0;
}
/* powered by （非表示）*/
.cstmreba .booklink-powered-date,
.cstmreba .kaerebalink-powered-date,
.cstmreba .tomarebalink-powered-date {
  font-size: 0px;
  line-height: 0%;
}
/* 著者・住所 */
.cstmreba .booklink-detail,
.cstmreba .kaerebalink-detail,
.cstmreba .tomarebalink-address {
  font-size: 12px;
}
.cstmreba .kaerebalink-link1 div img,
.cstmreba .booklink-link2 div img,
.cstmreba .tomarebalink-link1 div img {
  display: none !important;
}
.cstmreba .kaerebalink-link1,
.cstmreba .booklink-link2,
.cstmreba .tomarebalink-link1 {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}
.cstmreba .booklink-link2 > div,
.cstmreba .kaerebalink-link1 > div,
.cstmreba .tomarebalink-link1 > div {
  float: left;
  width: 48%;
  min-width: 128px;
  margin: 0.5%;
}
/***** ボタンデザイン ******/
.cstmreba .booklink-link2 a,
.cstmreba .kaerebalink-link1 a,
.cstmreba .tomarebalink-link1 a {
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin: 1px 1px;
  padding: 3% 0.5%;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  line-height: 180%;
  color: #fff;
  box-shadow: 0px 4px 0 #455A64;
  transition: 0.2s all ease 0s;
}
.cstmreba .shoplinkamazon :after,
.cstmreba .shoplinkrakuten :after,
.cstmreba .shoplinkjalan :after,
.cstmreba .shoplinkjtb :after,
.cstmreba .shoplinkknt :after,
.cstmreba .shoplinkikyu :after,
.cstmreba .shoplinkrurubu :after,
.cstmreba .shoplinkyahoo :after,
.cstmreba .shoplinkbellemaison :after,
.cstmreba .shoplinkcecile :after,
.cstmreba .shoplinkkakakucom :after,
.cstmreba .shoplinkkindle :after,
.cstmreba .shoplinkrakukobo :after,
.cstmreba .shoplinkbk1 :after,
.cstmreba .shoplinkehon :after,
.cstmreba .shoplinkkino :after,
.cstmreba .shoplinktoshokan :after,
.cstmreba .shoplinkseven :after {
  content: '';
  height: 100%;
  width: 30px;
  position: absolute;
  top: -180px;
  left: 0;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -webkit-animation: reflection 3s ease-in-out infinite;
}
@-webkit-keyframes reflection {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
/* トマレバ */
/* 楽天トラベル */
.cstmreba .tomarebalink-link1 .shoplinkrakuten a {
  background: #ff1744;
  border: 2px solid #ff1744;
  overflow: hidden;
}
/* じゃらん */
.cstmreba .tomarebalink-link1 .shoplinkjalan a {
  background: #FB8C00;
  border: 2px solid #FB8C00;
  overflow: hidden;
}
/* JTB */
.cstmreba .tomarebalink-link1 .shoplinkjtb a {
  background: #7E57C2;
  border: 2px solid #7E57C2;
  overflow: hidden;
}
/* KNT */
.cstmreba .tomarebalink-link1 .shoplinkknt a {
  background: #00ACC1;
  border: 2px solid #00ACC1;
  overflow: hidden;
}
/* 一休 */
.cstmreba .tomarebalink-link1 .shoplinkikyu a {
  background: #A1887F;
  border: 2px solid #A1887F;
  overflow: hidden;
}
/* るるぶ */
.cstmreba .tomarebalink-link1 .shoplinkrurubu a {
  background: #e53935;
  border: 2px solid #e53935;
  overflow: hidden;
}
/* Yahoo!トラベル */
.cstmreba .tomarebalink-link1 .shoplinkyahoo a {
  background: #7CB342;
  border: 2px solid #7CB342;
  overflow: hidden;
}
/* カエレバ */
/* Yahoo!ショッピング */
.cstmreba .kaerebalink-link1 .shoplinkyahoo a {
  background: #7E57C2;
  border: 2px solid #7E57C2;
  letter-spacing: normal;
  overflow: hidden;
}
/* ベルメゾン */
.cstmreba .kaerebalink-link1 .shoplinkbellemaison a {
  background: #00ACC1;
  border: 2px solid #00ACC1;
  overflow: hidden;
}
/* セシール */
.cstmreba .kaerebalink-link1 .shoplinkcecile a {
  background: #e53935;
  border: 2px solid #e53935;
  overflow: hidden;
}
/* 価格コム */
.cstmreba .kaerebalink-link1 .shoplinkkakakucom a {
  background: #7CB342;
  border: 2px solid #7CB342;
  overflow: hidden;
}
/* ヨメレバ */
/* Kindle */
.cstmreba .booklink-link2 .shoplinkkindle a {
  background: #7E57C2;
  border: 2px solid #7E57C2;
  overflow: hidden;
}
/* 楽天kobo */
.cstmreba .booklink-link2 .shoplinkrakukobo a {
  background: #bf0000;
  border: 2px solid #bf0000;
  overflow: hidden;
}
/* honto */
.cstmreba .booklink-link2 .shoplinkbk1 a {
  background: #00ACC1;
  border: 2px solid #00ACC1;
  overflow: hidden;
}
/* ehon */
.cstmreba .booklink-link2 .shoplinkehon a {
  background: #F9A825;
  border: 2px solid #F9A825;
  overflow: hidden;
}
/* 紀伊國屋書店 */
.cstmreba .booklink-link2 .shoplinkkino a {
  background: #e53935;
  border: 2px solid #e53935;
  overflow: hidden;
}
/* 図書館 */
.cstmreba .booklink-link2 .shoplinktoshokan a {
  background: #546E7A;
  border: 2px solid #546E7A;
  overflow: hidden;
}
/* カエレバ・ヨメレバ共通 */
/* Amazon */
.cstmreba .kaerebalink-link1 .shoplinkamazon a,
.cstmreba .booklink-link2 .shoplinkamazon a {
  background: #FB8C00;
  border: 2px solid #FB8C00;
  overflow: hidden;
}
/* 楽天 */
.cstmreba .kaerebalink-link1 .shoplinkrakuten a,
.cstmreba .booklink-link2 .shoplinkrakuten a {
  background: #ff1744;
  border: 2px solid #ff1744;
  overflow: hidden;
}
/* 7net */
.cstmreba .kaerebalink-link1 .shoplinkseven a,
.cstmreba .booklink-link2 .shoplinkseven a {
  background: #225496;
  border: 2px solid #225496;
  overflow: hidden;
}
/***** ボタンデザイン　マウスオーバー時 *****/
.cstmreba .booklink-link2 a:hover,
.cstmreba .kaerebalink-link1 a:hover,
.cstmreba .tomarebalink-link1 a:hover {
  box-shadow: none;
  transform: translate3d(0, 3px, 0);
}
.cstmreba .booklink-footer {
  clear: both;
}
/***** 解像度768px以下のスタイル *****/
@media screen and (max-width:768px) {
  .cstmreba .booklink-image,
  .cstmreba .kaerebalink-image,
  .cstmreba .tomarebalink-image {
    width: 100%;
    float: none;
  }
  .cstmreba .booklink-link2 > div,
  .cstmreba .kaerebalink-link1 > div,
  .cstmreba .tomarebalink-link1 > div {
    width: 49%;
    margin: 0.5%;
  }
  .cstmreba .booklink-info,
  .cstmreba .kaerebalink-info,
  .cstmreba .tomarebalink-info {
    text-align: center;
    padding-bottom: 1px;
  }
}
/***** 解像度480px以下のスタイル *****/
@media screen and (max-width:480px) {
  .cstmreba .booklink-link2 > div,
  .cstmreba .kaerebalink-link1 > div,
  .cstmreba .tomarebalink-link1 > div {
    width: 98%;
    margin: 0.5%;
  }
}


/***** 記事引用装飾 *****/
.box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #b1d7e4;
  background: #fafafa;
}
.box .box-title {
  position: absolute;
  display: inline-block;
  top: -35px;
  left: -3px;
  padding: 5px 9px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  font-size: 15px;
  background: #b1d7e4;
  color: #fff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.box a {
  color: #555 !important;
}
.box ul {
  padding: 0em 0.5em 0em -1em;
  position: relative;
}

.box ul li {
  font-size: 15px !important;
  line-height: 1.3;
  padding: 0.5em 0em;
}

.box ul li:before {
  font-family: "blogicon";/*はてなブログアイコン*/
  content: "\f012";/*アイコンの種類*/
  position: absolute;
  left : -0.5em;
  top: 0.1em;
  color: #F8ACAC;/*アイコンの色*/
  font-size: 2em !important;
}
.box iframe {
  margin: 1em auto !important;
}
.box cite {
  display:none;
}
.box p {
  margin: 0;
  padding: 0;
  font-size: 14px !important;
  color: #555;
}

/***** トップページ最新記事上にラベル *****/
.page-index .archive-entries {
  padding-top: 60px;
  position: relative;
}
.page-index .archive-entries:before {
  content: '最新記事';
  color: #444;
  font-size: 1.3rem;
  font-weight: 900;
  position: absolute;
  margin-top: -40px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.page-index .archive-entries:after {
  content: '';
  position: absolute;
  top: 40px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #8AC4C8;
  border-radius: 2px;
}

/***** トップページ　最新記事上のオススメCSS *****/
/* トップレコメンド記事 */
.recommend-wrap {
  display: none;
}
.recommend-heading {
  margin: 0;
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}
.recommend-heading:after {
  content: '';
  position: absolute;
  bottom: -20px;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #8AC4C8;
}

/*一覧記事タイトル*/
.archive-entry-header h1 {
  line-height: 1.0 !important;
}
.archive-entry-header h1 a {
  font-size: 19px;
  font-weight: bold;
  color: #333 !important;
}
.archive-entry-header h1 a:hover {
  color: #375A7F !important;
}

/*カード*/
.archive-entry {
  border: solid 2px #e9e9e9;
  background: #fff;
  border-radius: 0px;
}
/*アイキャッチ*/
.entry-thumb {
  border-radius: 0px;
}
/*背景色を白へ*/
#content {
  padding-top: 10px;
}

/*記事内文字サイズ*/
.entry-content h1 {
  font-size: 24px;
}
.entry-content h2 {
  font-size: 23px;
}
.entry-content h3 {
  font-size: 22px;
}
.entry-content h4 {
  font-size: 20px;
}
.entry-content h5 {
  font-size: 15px;
}
.entry-content p {
  font-size: 15px;
}
.entry-content ul {
  font-size: 15px;
}
/*記事タイトルデザイン変更*/
.entry-title {
  font-weight: bold;
  font-size: 20px;
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

/* ヘッダーから移植 */
/* .header-image-wrapper { display: none; } */
#blog-title { display: none; }
.headernew {
  margin: 0px!important;
  border: 10px ridge antiquewhite;
  background-color: darkslategray;
}
.headernew img {
  max-width: 1100px;
  margin: auto;
  display: block;
}
.headernew a {
  display: block;
}
/* ヘッダーテキストリンク */
.header-info {
  position: relative;
  max-width: 100%;
}
.header-info a {
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: .5em .8em;
  border-radius: 0px;
  border: 3px outset silver;
  text-shadow: 1px 1px 1px black;
}
.header-info a:hover {
  text-shadow: 3px 3px 3px black;
}
.header-info1 a {
  background-color: burlywood;
  color: #fff;
}
.header-info2 a {
  text-shadow: 2px 2px 2px silver;
  background-color: antiquewhite;
  color: black;
}
/* ヘッダーから移植ここまで */

/* 右京追加CSS */
/* 広域 */
header.archive-header-category {
  margin: 0 0 20px 0;
}
body.page-static_page article {
  padding: 0;
}
#container-inner {
  background-color: white;
}
/* 広域 */

/* パーツ */
.p_f12em {
  font-size: 1.2em;
}
.p_link {
  font-weight: bold;
  color: crimson;
}
.instaText,
.instaLink {
  color: deeppink;
}
/* 一般 */

/* カテゴリー */
.categoryImg {
  border: 5px ridge silver;
}
body.page-archive-category .pager {
  margin: 32px 40px;
}
.categoryAd {
  margin: 20px 0;
}
.dropdownMenu {
  display: flex;
  margin: 15px 0;
}
.dropdownMenuInner {
  position: relative;
  width: 50%;
  border: 3px outset burlywood;
  background-color: antiquewhite;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
  cursor: pointer;
}
.dropdownMenuInner.single {
  width: 100%;
}
.dropdownMenuList {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0;
  margin: 0;
}
.dropdownMenuList li {
  list-style: none;
  background-color: cornsilk;
  border: 2px ridge burlywood;
  border-top: none;
}
.dropdownMenuList li:first-child {
  margin-top: 5px;
}
.dropdownMenuList a {
  display: block;
}
.dropdownMenuList a:hover {
  color: black;
  text-shadow: 3px 3px 3px darkgrey;
  opacity: 0.6;
}
.newArticleHeader {
  width: 35%;
  margin: 50px auto 0;
  text-align: center;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  background: #f4f4f4;
  box-shadow: 0 7px 10px -5px rgb(0 0 0 / 10%) inset;
}
.newArticleHeader h1 {
  margin: 15px 0;
  font-size: 30px;
}
/* ロードバイクトップ */
.roadbikeRecommendArea {
  margin-bottom: 20px;
}
.roadbikeRecommendArea label {
  background-color: bisque;
  padding: 10px 0;
  font-weight: bold;
  border-top: 5px solid black;
  border-radius: 10px 10px 0 0;
  margin-bottom: 5px;
}
.roadbikeRecommendArea label:hover {
  opacity: 0.6;
}
.roadbikeRecommendArea .pulldownList {
  background-color: antiquewhite;
  width: 100%;
}
#roadbikePulldown:checked ~ .pulldownList {
  border-bottom: 5px solid black;
  border-radius: 0 0 10px 10px;
}
#roadbikePulldown:checked ~ .pulldownList li {
  height: 100%;
}
.roadbikeRecommendArea .article-container {
  display: flex;
}
.roadbikeRecommendArea .article-box {
  width: 50%;
}
/* ロードバイクトップ */
/* カテゴリー */

/* スライドショー */
.slider {
  display: none !important;
  background-color: currentColor;
  padding: 20px 0;
}
.page-index .slider {
  display: block !important;
}
.slider img {
  width: 90%;
  margin: 20px auto 0;
}
.slick-slide {
  margin: 20px;
  opacity: 0.6;
}
.slick-center {
  opacity: 1;
  transform: scale(1.5);
}
.slick-center img {
  margin: 10px;
  padding: 15px 0;
}
.slick-prev {
  z-index: 1;
}
/* スライドショー */

/* 記事内 */
.emphasize-link ul {
  margin: 0 0 0 1.5em;
}
.summaryTable {
  display: table !important;
}
.summaryTable caption {
  font-weight: bold;
  width: 70px;
  background-color: grey;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.summaryTable th {
  width: 22%;
  background-color: aliceblue !important;
}
.summaryTable th,
.summaryTable td {
  border: 3px ridge silver !important;
}
/* 記事内 */

/* サイドバー */
.supportNavTitle {
  margin-bottom: 10px;
}
.supportNavBody {
  margin: 5px 0;
}
.supportCodoc {
  margin-top: 20px;
  border: solid 3px crimson;
  border-radius: 5px;
}
.supportLink {
  color: crimson;
  font-weight: bold;
}
.kenceHistory p,
.kenceHistory li {
  font-size: 80%;
}
/* サイドバー */

.eventArea {
  display: none;
  background-color: currentColor;
}
.page-index .eventArea {
  display: block;
}
.eventContainer {
  margin: 0 auto;
  padding-top: 8px;
}
.eventContainer img {
  width: 100%;
  border: 5px ridge gold;
}
.archive-entry.test-archive-entry.autopagerize_page_element {
  border: 3px outset silver;
}
.archive-entry.test-archive-entry.ad {
  border: none;
  padding: 0;
}

/* ヘッダー */
.header-info:hover {
  opacity: 0.8;
}
.headerButtonZone {
  display: flex;
}
.headerNewArticle {
  width: calc(100% / 3);
}
.headerNewArticle a {
  color: white;
}
.toBicycle {
  background-color: cadetblue;
}
.toNewPost {
  background-color: brown;
}
.toAdventure {
  background-color: darkgoldenrod;
}
.monthlyBlogInfo {
  display: none;
}
.page-index .monthlyBlogInfo {
  display: block;
}
/* ヘッダープルダウンエリア */
/* .pulldownArea {
  border-top: 3px double black;
  border-bottom: 3px dotted silver;
  background: -moz-linear-gradient(top, aliceblue, #FFF);
  background: -webkit-linear-gradient(top, aliceblue, #FFF);
  background: linear-gradient(to bottom, aliceblue, #FFF);
} */
.howtoPulldown {
  display: none;
  border: 3px ridge black;
  border-top: none;
  border-radius: 0 0 15px 15px;
}
.page-index .howtoPulldown {
  display: block;
}
.howtoPulldown .pulldownLabel {
  margin: 0;
  padding: 0;
  font-size: 30px;
  background-color: cornsilk;
  border-radius: 0 0 15px 15px;
}
.pulldownLabel {
  width: 100%;
  cursor: pointer;
  display: block;
}
.pulldownLabel:hover {
  text-shadow: 3px 3px 3px silver;
}
.howtoPulldown .pulldownLabel::after {
  display: none;
}
input.accordion {
  display: none;
}
.pulldownArea ul {
  margin: 0;
  padding: 0;
  background :#f4f4f4;
  list-style: none;
}
.pulldownArea li,
.pulldownArea .pulldownInner {
  height: 0;
  overflow: hidden;
}
/* .pulldownArea.round li {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
} */
/* #pulldown01:checked ~ #pulldownList01 li,
#pulldown02:checked ~ #pulldownList02 li {
  height: 170px;
  opacity: 1;
} */
#pulldown03:checked ~ .pulldownList03 li {
  height: 100%;
  opacity: 1;
  background-color: beige;
}
#kencemeshiPulldown:checked ~ .pulldownContainer .pulldownInner {
  height: 100%;
  opacity: 1;
  background-color: cornsilk;
  text-align: center;
  border-radius: 0 0 15px 15px;
}
/* #pulldown01:checked ~ #pulldownList01 li.first,
#pulldown02:checked ~ #pulldownList02 li.first {
  padding-top: 20px;
}
#pulldown01:checked ~ #pulldownList01 li.last,
#pulldown02:checked ~ #pulldownList02 li.last {
  padding-bottom: 20px;
} */
.recommendMore {
  color: white;
  text-shadow: 2px 2px 2px black;
  border: 2px outset silver;
  background-color: burlywood;
}
.recommendMore label {
  margin: 0;
  padding-bottom: 15px;
}
.recommendMore label:hover {
  opacity: 0.6;
}
.recommendMore label::after {
  display: none;
}
.recommendMore li {
  height: 10px;
}
.categoryZone {
  border-bottom: none;
}
.categoryZoneTitle {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  text-shadow: 3px 3px 3px burlywood;
  font-size: 30px;
  font-weight: bold;
  color: brown;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 3px double brown;
}
.categoryZone .article-box {
  border: 3px ridge silver;
  margin: 30px auto;
}
.categoryZone .article-container {
  margin-bottom: 10px;
  border-bottom: 3px double brown;
}
/* ヘッダープルダウンエリア */
/* ヘッダー */

@media screen and (max-width: 480px) {
  /* #pulldown01:checked ~ #pulldownList01 li,
  #pulldown02:checked ~ #pulldownList02 li {
    height: 115px;
  } */
}
/* スマホ */
@media(max-width: 767px) {
  .newArticleHeader {
    width: 50%;
  }
  /* 2列表示 */
  .article-container {
    width: 100%;
    flex-wrap: wrap;/*折り返し表示（２列）*/
    justify-content: space-between;
  }
  .article-container.first,
  .article-container-1.first {
    padding-top: 8px;
  }
  .article-box {
    width: 45.5% !important;
    padding: 0px;
    margin: 8px;
  }
  .roadbikeRecommendArea .article-box {
    width: 45% !important;
  }
  .article-img img {
    width: 100%;
    padding: 0;
    object-fit: cover;
  }
  .page-index #main-inner {
    margin: 5px 10px 10px 10px !important;
    padding: 10px !important;
    background-color: antiquewhite;
    border: 3px outset antiquewhite;
  }
  /* 2列表示 */
  .headernew {
    border: 7px ridge antiquewhite;
  }
  .pulldownInner p {
    display: block;
    margin: 10px;
    text-align: left;
    font-size: 13px;
  }
  label:hover {
    opacity: 1 !important;
  }
  .slick-next {
    right: 50px !important;
  }
  .slick-prev:before {
    position: absolute;
    left: 30px;
    top: -20px;
    font-size: 60px !important;
  }
  .slick-next:before {
    position: absolute;
    top: -20px;
    font-size: 60px !important;
  }
}
/* PC */
@media screen and (min-width: 767px) {
  .page-index #main-inner {
    margin: 0 20px !important;
    padding: 5px 10px !important;
    background-color: antiquewhite;
    border: 3px outset antiquewhite;
  }
  .header-info a {
    font-size: 1.5em;
  }
  .slick-next {
    right: 75px !important;
  }
  .slick-prev:before {
    position: absolute;
    left: 30px;
    top: -10px;
    font-size: 80px !important;
  }
  .slick-next:before {
    position: absolute;
    top: -10px;
    font-size: 80px !important;
  }
}
@media screen and (min-width: 1000px) {
  .eventContainer {
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .eventContainer {
    width: 300px;
  }
}
@media screen and (max-width: 1300px) {
}
@media screen and (min-width: 1300px) {
  .article-container-1 {
    width: 75%;
  }
  .article-box-1 {
    max-width: 200px;
    max-height: 200px;
  }
  /* #pulldown01:checked ~ #pulldownList01 li,
  #pulldown02:checked ~ #pulldownList02 li {
    height: 220px;
  } */
}
/* 右京ここまで */
