.page_parent a {
  color: #333;
}
.page_parent a:hover,
.page_parent a:active {
  color: #333;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* font-awesome */
.fa-fire {
  color: firebrick;
}
.fa-trophy {
  color: goldenrod;
  text-shadow: 2px 2px 2px gold;
}

/* codoc */
.codoc-entry {
  border: 3px outset crimson;
}

a.instaLink {
  color: deeppink;
}
a.supportLink,
a.workLink {
  color: crimson;
}
