.header {
  border: 8px ridge antiquewhite;
  background: content-box radial-gradient(white, antiquewhite);
}
.headerImgContainer {
  width: 100%;
}
.site-branding {
  padding: 0;
}
.site-branding__heading img {
  max-width: 1100px;
  margin: auto;
  display: block;
}
.site-branding__heading a {
  display: block;
}
