body.home .sub-page-contents {
  padding-top: 20px;
}
.collab_req {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.collab_req a {
  text-shadow: 2px 2px 2px silver;
  background-color: antiquewhite;
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: .5em .8em;
  border-radius: 0px;
  border: 2px outset silver;
}
.collab_req a:hover {
  text-shadow: 2px 2px 2px black;
}

/* 店舗数 */
.storeCountArea {
  display: block;
  padding: 15px 0 10px;
  height: 90px;
  background-color: currentColor;
}
.storeCountArea.look {
  display: block;
  margin: 30px auto;
}
.storeCountContainer {
  margin: auto;
  width: 300px;
  text-align: center;
  background-color: #FFF;
  border-radius: 10px;
  text-shadow: 2px 2px 2px silver;
  font-size: 24px;
  box-shadow: 0px 0px 10px 5px gold;
}
.storeCountContainer img {
  width: 32px;
  vertical-align: text-top;
}
.storeCounter {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0 8px;
  color: crimson;
}

/* スライドショー */
.slider {
  background-color: currentColor;
  padding: 0 0 20px;
}
.slider img {
  width: 90%;
  margin: 20px auto 0;
}
.slick-slide {
  margin: 20px;
  opacity: 0.6;
}
.slick-slider {
  margin-bottom: 40px !important;
}
.slick-center {
  opacity: 1;
  transform: scale(1.5);
}
.slick-center img {
  margin: 10px;
  padding: 15px 0;
}
.slick-prev {
  z-index: 1;
}
.slick-next {
  right: 75px !important;
}
.slick-prev:before {
  position: absolute;
  left: 30px;
  top: -18px;
  font-size: 60px !important;
}
.slick-next:before {
  position: absolute;
  top: -18px;
  font-size: 60px !important;
  right: -70px;
}

/* SNSアイコン */
.miniInfoArea {
  height: 30px;
  margin: 10px 0;
}
.snsContainer {
  display: flex;
  margin: 0 auto;
  width: 320px;
  height: 100%;
}
.snsContainer span {
  margin: auto;
  font-size: 17px;
  font-weight: bold;
}
.snsContainer a {
  margin: 0 auto;
}
.snsContainer img {
  height: 30px !important;
  border-radius: 10px;
}
.snsContainer .twitter-button {
  text-align: center;
  font-size: 25px;
  width: 30px;
}
.snsContainer .fa-twitter-square {
	background-color: #fff;
	color: #55acee;
  font-size: 31px;
  vertical-align: top;
}
.snsContainer .facebook-button {
  font-size: 29px;
}
.snsContainer .fa-facebook-square {
  background-color: white;
  border-radius: 10px;
  vertical-align: top;
  font-size: 31px;
  color: #305097;
}

/* 地域別検索エリア */
.areaList {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.areaSearchZone li {
  list-style: none;
  border: 1px solid #bce2e8;
  border-radius: 5px;
}
.areaSearchZone a {
  display: block;
  background: linear-gradient(#fff, #bce2e8);
}
.areaSearchZone a:hover {
  opacity: 0.6;
  color: #fff;
  background: linear-gradient(#fff, #ff6600);
}
.areaSearchContainer {
  height: 100%;
}
.areaSearchTitle {
  color: black;
  width: 270px;
  text-align: center;
  font-weight: bold;
  margin: 10px auto 30px;
  box-shadow: 5px 5px 5px 1px black;
}
.areaSearchInner {
  display: flex;
  margin: auto;
  background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/k/ken_chan_bike/20210209/20210209002422.jpg");
  background-size: contain;
}
.areaZone {
  position: relative;
  text-align: center;
  font-weight: bold;
  flex-shrink: 0;
}
.areaHeader {
  color: #fff;
  border-radius: 3px;
}
.hokubuHeader {
  background-color: #1D87FB;
}
.igaHeader {
  background-color: #92D050;
}
.chubuHeader {
  background-color: #FFD13F;
}
.iseShimaHeader {
  background-color: #91BCE3;
}
.higashikishuHeader {
  background-color: #DA54BD;
}
.inabe,
.komono,
.suzuka,
.nabari,
.watarai,
.tamaki,
.taiki,
.kumano,
.mihama,
.kiho {
  display: none;
}
.areaSearchZone {
  height: 875px;
}
.areaSearchContainer {
  margin: 30px 0;
}
.areaSearchTitle {
  height: 35px;
  font-size: 22px;
}
.areaSearchInner {
  height: 800px;
  width: 700px;
}
.areaZone {
  width: 150px;
  height: 200px;
}
.areaZone.hokubu {
  top: 30px;
  left: 150px;
}
.areaZone.iga {
  top: 230px;
  left: -120px;
}
.areaZone.chubu {
  top: 190px;
  right: -230px;
}
.areaZone.iseShima {
  top: 520px;
  right: -90px;
}
.areaZone.higashikishu {
  top: 530px;
  left: -580px;
}
.areaHeader {
  font-size: 30px;
  margin-bottom: 8px;
}
.areaSearchZone li {
  margin-bottom: 8px;
  width: 65px;
  font-size: 20px;
}
