.sb_header {
  color: saddlebrown;
  position: relative;
  font-size: 120%;
  font-weight: bold;
  height: 37px;
  line-height: 30px;
  padding: 0.2em 0.5em;
  background-color: cornsilk;
  box-shadow: 0px 0px 0px 5px cornsilk;
  border: 1px dashed #fff;
  margin-bottom: 30px;
}
.sb_header::before,
.sb_header::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
}
.sb_header::before {
  top: 40px;
  left: -6px;
  border-width: 0 15px 15px 0;
  border-right-color: darkgoldenrod;
}
.sb_subHeader {
  margin: 20px 2px;
  font-weight: bold;
  position: relative;
  background: cornsilk;
  box-shadow: 0px 0px 0px 5px cornsilk;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: brown;
}

.sb_subHeader:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff darkgoldenrod;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.sb_content:nth-child(n+2) {
  margin: 30px 0;
}

.profileSentence {
  font-weight: bold;
  padding-top: 10px;
}
.sb_categories ul,
.sb_archive ul {
  padding-left: 10px;
}
.sb_categories a,
.sb_archive a {
  font-weight: bold;
  color: saddlebrown;
}

/* インスタ */
iframe.instagram-media {
  min-width: 0 !important;
}

/* ピックアップ記事 */
.sb_article {
  background-color: #fff;
  border: 3px outset saddlebrown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-bottom: 5px;
}
.sb_articleTitle {
  line-height: 1.0;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 10px;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  margin: 8px 3px;
}
.sb_articleTitle a {
  color: #333;
}
