@media screen and (max-width: 420px) {
  .sub-page-contents {
    padding-top: 10px;
  }
  .col-md-9 {
    padding: 0 10px;
  }
  .entry h1.entry__title {
    font-size: 19px;
    margin: 0 0 10px;
  }
  .entry__content {
    padding: 10px;
  }
  .entry__content p {
    font-size: 15px;
  }
  .entry__content ul {
    font-size: 15px;
  }
  .entry__content h2 {
    font-size: 18px;
  }
  .entry__content h3 {
    font-size: 18px;
  }
  .l-fuki, .r-fuki {
    padding: 15px;
  }
  .summaryTable {
    width: 100%;
  }
  .related-posts {
    margin-top: 10px;
    padding-top: 15px;
  }
  .related-posts .entry--has_media__media {
    width: 100%;
  }
  .related-posts .entry--has_media__body {
    padding: 15px 5px 0;
  }
  .kencemeshiSupportHeader {
    font-size: 22px;
  }
  .blogcard {
    margin: 10px;
  }
  .blogcard.ex {
    height: inherit;
    padding: 10px;
  }
  .blogcard_thumbnail {
    padding: 10px;
  }
  .blogcard_thumbnail img {
    max-height: 160px;
    width: 100%;
  }
  .blogcard_title {
    font-size: 15px;
    padding: 10px;
  }
  .blogcard_excerpt {
    display: none;
    padding: 0 10px;
  }
  .blogcard_link {
    padding: 10px;
  }
  .blogcard_link .favicon {
    float: left;
  }
  .kenceWorkWindowExplain {
    margin: 15px 10px 8px;
  }
}
