<p>
	<img data-src="https://cdn-ak.f.st-hatena.com/images/fotolife/k/ken_chan_bike/20210107/20210107235634.jpg" alt="f:id:ken_chan_bike:20200902121305p:plain" title="f:id:ken_chan_bike:20200902121305p:plain" class="hatena-fotolife" itemprop="image" />
</p>

<div class="cp_box">
	<input id="cp01" type="checkbox">
	<label for="cp01"></label>
	<div class="cp_container">
		<p>1998年生まれ.三重大学在籍中.<br>
			三重県生まれ,三重県育ちの多感多趣味大学生.</p>
		<p>自転車ライフを「ゆる～く まったり」楽しんでいます.レース,ゆるポタ,自転車旅で各地を巡っています.</p>
		<p>三重県グルメ「ケンチェ飯」では毎日一軒お店を紹介しています。食レポ,お店情報,メニューなど,どのサイトよりも詳しく掲載！</p>
		<p>趣味の傍ら,独学で金融の学を納める.<br>現在では2017年度より始めた株式投資,債券投資,デリバティブ取引などにも精通した協会認定FP＆PB.何でも聞いてね.</p>
		<p>自転車,グルメ,旅などの趣味を突き詰めるブログ.</p>
		<p><strong>ケンチェラーラについて<a class="profileLink p_link" href="https://www.kencellara.com/profile">もっと知る>></a></strong></p>
		<p>
			<span style="font-size: 80%;">□ FP協会認定ファイナンシャルプランナー</span><br>
			<span style="font-size: 80%;">□ 証券アナリスト協会認定プライベートバンカー</span><br>
			<span style="font-size: 80%;">□ 証券外務員一種</span>
		</p>
	</div>
</div>
