<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script src="https://hatena.wackwack.net/v1.1/js/breadcrumb.min.js"></script>
<script src="https://hatena.wackwack.net/v1.1/js/category_archive.min.js"></script>

<!-- 店舗数表示 -->
<script>
  let storeCount;
  if ($('.page-index').length) {
    storeCount = $(".hatena-urllist .category-三重県のグルメ制覇").last().text().trim().substr(-4,3);
    $("#storeCounter").text(storeCount);
  } else if ($('.page-archive.category-ラーメン').length) {
    storeCount = $(".hatena-urllist .category-ラーメン").last().text().trim().substr(-3,2);
    $("#storeCounter").text(storeCount);
    $("#js-categoryStorePosition").after($("#js-storeCountArea"));
    $("#js-storeCountArea").addClass("look")
  }
</script>

<!-- SNSアイコン追尾 -->
<script>
  const fixedNode = $('#jsFixedSNS');
  const scrollStart = fixedNode.offset().top;
  let distance = 0;

  $(document).scroll(() => {
    distance = $(this).scrollTop();

    if (scrollStart <= distance) {
      fixedNode.addClass('fixed');
    } else if (scrollStart >= distance) {
      fixedNode.removeClass('fixed');
    }
  });
</script>

<!-- 番付スマホ -->
<script>
  const button = $('#openBanzuke');
  button.on('click', () => {
    if (button.hasClass('open')) {
      const offset = $('.headerBanzuke.sp').offset().top
      button.removeClass('open');
      $('.headerBanzuke.sp').removeClass('open');
      $(window).scrollTop(offset);
      button.html('<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>4位以下を表示<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>');
    } else {
      button.addClass('open');
      $('.headerBanzuke.sp').addClass('open');
      button.html('<i class="fa fa-chevron-circle-up" aria-hidden="true"></i>4位以下を非表示<i class="fa fa-chevron-circle-up" aria-hidden="true"></i>');
    }
  });
</script>

<!-- ケンチェの窓口モーダル -->
<script>
  $('.js-modal-open').on('click', () => {
    const target = $('.js-modal-open').data('target');
    const modal = document.getElementById(target);
    $(modal).fadeIn(300);
    return false;
  });

  $('.js-modal-close').on('click', () => {
    $('.js-modal').fadeOut( 300 );
    return false;
  });
</script>

<!--関連記事インフィード広告-->
<script>
    $('ul.related-entries > li').eq(2).after('<script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"><\/script><ins class=\"adsbygoogle\"     style=\"display:block\"     data-ad-format=\"fluid\"     data-ad-layout-key=\"-ga-2t-3w+5b+o7\"     data-ad-client=\"ca-pub-7898839193224300\"     data-ad-slot=\"1012737808\"></ins><script>     (adsbygoogle = window.adsbygoogle || []).push({});<\/script>')
</script>

<!-- スマホ記事一覧に広告挿入 -->
<script>
  if ($(window).width() < 767) {
    $('.page-archive .autopagerize_page_element').eq(0).after('<script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"><\/script><section class=\"archive-entry test-archive-entry ad\"><ins class=\"adsbygoogle\"style=\"display:block\"data-ad-client=\"ca-pub-7898839193224300\"data-ad-slot=\"9894433633\"data-ad-format=\"rectangle\"data-full-width-responsive=\"false\"><\/ins><\/section><script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script>');
    $('.page-archive .autopagerize_page_element').eq(3).after('<script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"><\/script><section class=\"archive-entry test-archive-entry ad\"><ins class=\"adsbygoogle\"style=\"display:block\"data-ad-client=\"ca-pub-7898839193224300\"data-ad-slot=\"9894433633\"data-ad-format=\"rectangle\"data-full-width-responsive=\"false\"><\/ins><\/section><script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script>');
    $('.page-archive .autopagerize_page_element').eq(10).after('<script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"><\/script><section class=\"archive-entry test-archive-entry ad\"><ins class=\"adsbygoogle\"style=\"display:block\"data-ad-client=\"ca-pub-7898839193224300\"data-ad-slot=\"9894433633\"data-ad-format=\"rectangle\"data-full-width-responsive=\"false\"><\/ins><\/section><script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script>');
    $('.page-archive .autopagerize_page_element').eq(15).after('<script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"><\/script><section class=\"archive-entry test-archive-entry ad\"><ins class=\"adsbygoogle\"style=\"display:block\"data-ad-client=\"ca-pub-7898839193224300\"data-ad-slot=\"9894433633\"data-ad-format=\"rectangle\"data-full-width-responsive=\"false\"><\/ins><\/section><script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script>');
    $('.page-archive .autopagerize_page_element').eq(20).after('<script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"><\/script><section class=\"archive-entry test-archive-entry ad\"><ins class=\"adsbygoogle\"style=\"display:block\"data-ad-client=\"ca-pub-7898839193224300\"data-ad-slot=\"9894433633\"data-ad-format=\"rectangle\"data-full-width-responsive=\"false\"><\/ins><\/section><script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script>');
    $('.page-archive .autopagerize_page_element').eq(27).after('<script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"><\/script><section class=\"archive-entry test-archive-entry ad\"><ins class=\"adsbygoogle\"style=\"display:block\"data-ad-client=\"ca-pub-7898839193224300\"data-ad-slot=\"9894433633\"data-ad-format=\"rectangle\"data-full-width-responsive=\"false\"><\/ins><\/section><script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script>');
  }
</script>

<!--遅延読み込み-->
<script>
  $("img").lazyload();
</script>

<!-- ドロップダウンメニュー -->
<script type="text/javascript">
  $(() => {
    const dd1 = $('#dropdownMenuInner1');
    const dd1ul = $('#dropdownMenuInner1 > .dropdownMenuList');
    dd1.click(() => {
      if (dd1.hasClass('selected')) {
        dd1.removeClass('selected');
        dd1ul.slideUp('fast');
      } else {
        dd1.removeClass('selected');
        dd1ul.hide();
        dd1.addClass('selected');
        dd1ul.slideDown('fast');
      }
    });
    const dd2 = $('#dropdownMenuInner2');
    const dd2ul = $('#dropdownMenuInner2 > .dropdownMenuList');
    dd2.click(() => {
      if (dd2.hasClass('selected')) {
        dd2.removeClass('selected');
        dd2ul.slideUp('fast');
      } else {
        dd2.removeClass('selected');
        dd2ul.hide();
        dd2.addClass('selected');
        dd2ul.slideDown('fast');
      }
    });
    // メニュー領域外をクリックしたらメニューを閉じる
    let over_flg;
    $('.dropdownMenuInner,.dropdownMenuList').hover(() => {
      over_flg = true;
    }, () => {
      over_flg = false;
    });
    $('body').click(() => {
      if (!over_flg) {
        dd1.removeClass('selected');
        dd1ul.slideUp('fast');
        dd2.removeClass('selected');
        dd2ul.slideUp('fast');
      }
    });
  });
</script>

<!-- 次のページのリンクに#main付与 -->
<script>
  url = $('.pager-next > a').attr('href');
  $('.pager-next > a').attr('href', url+'#main');
</script>

<!-- 前のページボタン追加 -->
<script>
  if ($('.page-index').length) {
    if (location.href.indexOf('?page=') !== -1) {
      const pager = $('.pager').first();
      const span = $('<span></span>', {class: 'pager-prev'});
      let a;
      if (document.referrer.indexOf(document.domain) !== -1) {
        a = $("<a>前のページ</a>").attr({href: '#main', rel: 'prev'});
      } else {
        a = $('<a>トップページ</a>').attr({href: '/#main'});
      }
      a.on('click', () => {
        history.back();
        return false;
      });
      span.append(a);
      pager.prepend(span);
    }
  }
</script>

<!-- 最新記事を非表示に -->
<script>
  if (location.href.indexOf('?page=') !== -1) {
    $('.archive-entries').addClass('no_title');
  }
</script>

<!--コピーライト-->
<footer id="footer">
  <div id="footer-menu">
	  <div id="blog-title-content">
      <a href="https://www.kencellara.com/">
        <img class="hatena-fotolife" title="ケンチェラーラ." src="https://cdn-ak.f.st-hatena.com/images/fotolife/k/ken_chan_bike/20210109/20210109122234.jpg" data-src="https://cdn-ak.f.st-hatena.com/images/fotolife/k/ken_chan_bike/20210109/20210109122234.jpg" alt="ケンチェラーラフッター." style="height: 50px;" loading="lazy" />
      </a>
    </div>
    <nav>
      <div class="footer-links">
        <ul>
          <li>
            <a href="https://www.kencellara.com/kence_work">お仕事のご依頼</a>
          </li>
          <li>
            <a href="https://www.kencellara.com/kence_work">お問い合わせ</a>
          </li>
          <li>
            <a href="https://www.kencellara.com/privacy-policy">プライバシーポリシー</a>
          </li>
        </ul>
      </div>
    </nav>
    <p class="copyright">© 2020 kencellara.com All rights reserved.</p>
	</div>
</footer>

<!--ページトップボタン-->
<ul class="toTop-nav">
  <li><a href="javascript:void(0);" onclick="smoothScroll(0);return false;"><i class="blogicon-chevron-up"></i></a></li>
  <li><a href="https://www.kencellara.com/"><i class="blogicon-home"></i></a></li>
</ul>
<script>
  function smoothScroll(o){var e=window.pageYOffset,l=o>e;setTimeout(function(){l&&o>=e?(e=e+(o-e)/20+1,window.scrollTo(0,e),setTimeout(arguments.callee,10)):!l&&e>=o?(e=e-(e-o)/20-1,window.scrollTo(0,e),setTimeout(arguments.callee,10)):window.scrollTo(0,o)},10)}
</script>
