<script type="text/javascript">
  if ( location.href == 'https://kenchanbike.hatenablog.com/') {
    location.href = 'https://kenchanbike.hatenablog.com/archive';
  }
</script>
<noscript>
  <p><a href="https://kenchanbike.hatenablog.com/archive">ケンチェラーラの自転車日記</a></p>
</noscript>

<script data-ad-client="ca-pub-7898839193224300" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<meta name="google-site-verification" content="vlaKEY5v0BJRXtqYCZsicsWqiVDUb3e33TY6BSt21Uw" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
