<p><img data-src="https://cdn-ak.f.st-hatena.com/images/fotolife/k/ken_chan_bike/20210108/20210108001220.jpg" alt="f:id:ken_chan_bike:20200902121305p:plain" title="f:id:ken_chan_bike:20200902121305p:plain" class="hatena-fotolife" itemprop="image" /></p>


<p>■支援金の使い道<br>・ブログ維持費<br>・実業団登録費<br>・チーム活動費<br>・ジャージ制作費<br>・活動資金<br><br>■支援額<br>・100円～10000円<br><br>■リターン<a href="https://www.kencellara.com/support">（詳細はこちら）</a><br>・限定ジャージ<br>・ジャージにお名前記載<br>・お店紹介記事作成<br>・ブログの設計コーディングのお手伝い<br>・その他<br><br>■サポート・スポンサー募集<p><a href="https://www.kencellara.com/support">■詳細はこちらをクリック</a><br><a href="https://www.kencellara.com/support">・詳細ページへ</a></p></P>
<script src="https://codoc.jp/js/cms.js" data-css="red-square" charset="UTF-8" defer></script>
 <div id="codoc-entry-Aly1W7g5Yg" class="codoc-entries" data-without-body="1" data-support-button-text="ケンチェラーラを支援する" data-show-like="0" data-show-powered-by="0" data-support-message="【名前・連絡先・希望のリターンを記入】"></div>
